@font-face {
  font-family: Eurostile-Bold;
  src: url(../fonts/EurostileBold.ttf);
}
@font-face {
  font-family: Eurostile-Normal;
  src: url(../fonts/EuroStyleNormal.ttf);
}
@font-face {
  font-family: Europa;
  src: url(../fonts/Europa-Regular.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
.navbar {
  display: flex;
  width: 100%;
  max-height: 100px;
  height: 18%;
  position: relative;
  align-items: center;
  border-bottom: 1px solid #26f1c5;
  min-height: 70px;
  transition: 0.4s ease all;
  background-color: white;
  z-index: 1000;
}
.navbar span {
  font-size: 3rem;
  margin-right: auto;
  margin-left: 10%;
  color: #26f1c5;
}
.navbar .button-contact-me {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
  right: 50px;
  width: 150px;
  height: 50px;
  border: 1px solid #26f1c5;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color ease-in-out 0.4s;
  font-family: Roboto-Regular;
}
.navbar .button-contact-me:hover {
  background-color: #26f1c5;
  color: white;
}

.presentation {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation .presentation__title {
  line-height: 1.5;
  color: white;
}
.presentation .presentation__title .presentation__my_name {
  color: #26f1c5;
}

.my-description {
  position: relative;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.my-description .my-description__content {
  width: 55%;
  margin-right: 8rem;
}
.my-description .my-description__content .my-description__title {
  font-family: Eurostile-Bold;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
}
.my-description .my-description__content .my-description__body {
  text-align: justify;
  font-family: Europa;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.35rem;
}
.section2 {
  min-height: 580px;
  height: calc(100vh - calc(100vh - 100%));
  background: #26f1c5;
  background: radial-gradient(circle, #26f1c5 0%, #c3b8d1 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  position: relative;
}
.section2 .shell {
  width: 30%;
  height: unset;
  max-width: 360px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.section2 h1 {
  width: 50%;
  font-family: Eurostile-Bold;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
}
.section2 h3 {
  width: 50%;
  font-family: Europa;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: justify;
}

.section3 {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: fit-content;
}
.section3 .skill-card1,
.section3 .skill-card2 {
  width: 28%;
  height: 980px;
  min-height: 580px;
  border: 1px solid #26f1c5;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.section3 .skill-card1 .header,
.section3 .skill-card2 .header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  flex-direction: column;
}
.section3 .skill-card1 .header span,
.section3 .skill-card2 .header span {
  font-size: 3.5rem;
  color: #26f1c5;
}
.section3 .skill-card1 .header h1,
.section3 .skill-card2 .header h1 {
  font-family: Eurostile-Bold;
  font-weight: 800;
  font-size: 2.3rem;
}
.section3 .skill-card1 .body,
.section3 .skill-card2 .body {
  box-sizing: border-box;
  padding: 25px 25px;
}
.section3 .skill-card1 .body p,
.section3 .skill-card2 .body p {
  text-align: center;
  font-family: Europa;
  font-size: 18px;
  line-height: 30px;
}
.section3 .skill-card1 .body h2,
.section3 .skill-card2 .body h2 {
  text-align: center;
  font-family: Eurostile-Bold;
  margin-top: 35px;
  font-size: 1.6rem;
  color: #26f1c5;
}
.section3 .skill-card1 .body .row,
.section3 .skill-card2 .body .row {
  text-align: center;
  position: relative;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Europa;
  font-size: 18px;
}
.section3 .skill-card1 .body .row span,
.section3 .skill-card2 .body .row span {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  color: rgba(10, 10, 10, 0.5);
}
.section3 .skill-card1 .body .row .dbeaver-img,
.section3 .skill-card2 .body .row .dbeaver-img {
  height: 50px;
  width: 55px;
  right: 15px;
}
.section3 .skill-card1 .body .row img,
.section3 .skill-card2 .body .row img {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 25px;
}
.section3 .skill-card1 {
  margin-right: 20px;
}
.section3 .skill-card2 {
  margin-left: 20px;
}

.section4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5% 0;
  height: fit-content;
}
.section4 h1 {
  font-size: 2rem;
  font-weight: 800;
}
.section4 h3 {
  margin: 0 40px;
  font-family: Europa;
  font-weight: 300;
  color: rgba(10, 10, 10, 0.5);
  font-size: 1.5rem;
}
.section4 .projects-container {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
.section4 .projects-container .container {
  position: relative;
  display: flex;
  width: 30%;
  height: 10%;
  margin: 30px;
}
.section4 .projects-container .container .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.section4 .projects-container .container .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.section4 .projects-container .container .text {
  background-color: #26f1c5;
  cursor: pointer;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.section4 .projects-container .container:hover .image {
  opacity: 0.3;
}
.section4 .projects-container .container:hover .middle {
  opacity: 1;
}
.section4 .gitlab-section {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section4 .gitlab-section a {
  color: #3eccb4;
  font-size: 1.25rem;
}
.section4 .gitlab-section span {
  color: rgba(10, 10, 10, 0.5);
  font-size: 3rem;
}
.section4 .gitlab-section .gitlab-action-container {
  margin-top: 45px;
  position: relative;
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.section4 .gitlab-section .gitlab-action-container:hover .gitlab-image {
  opacity: 0.3;
}
.section4 .gitlab-section .gitlab-action-container:hover .gitlab-button {
  opacity: 1;
  cursor: pointer;
}
.section4 .gitlab-section .gitlab-action-container .gitlab-image {
  height: 100%;
  transition: 0.5s ease;
  width: 100%;
  position: absolute;
}
.section4 .gitlab-section .gitlab-action-container .gitlab-button {
  height: 50px;
  width: 140px;
  max-width: 120px;
  background-color: #26f1c5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
  text-align: center;
}

.footer {
  display: flex;
  min-height: 280px;
  height: fit-content;
  background-color: #26f1c5;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer h1 {
  color: white;
}
.footer h3 {
  font-family: Europa;
  font-weight: 300;
  color: rgba(10, 10, 10, 0.5);
  font-size: 1.5rem;
  margin: auto 0 0 0;
}
.footer h3 span {
  font-size: 1.25rem;
  margin-left: 2px;
  color: rgba(10, 10, 10, 0.5);
}
.footer .contact-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
.footer .contact-options span {
  font-size: 2rem;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.footer .contact-options span:hover {
  transform: scale(1.5);
}
.footer span {
  font-size: 4rem;
  color: white;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .presentation .images-container .image-container {
    width: 550px;
    height: 230px;
  }
  .presentation .images-container img.my-photo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .section3 .skill-card1,
.section3 .skill-card2 {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .presentation h1 {
    margin-top: 55px;
    font-size: 2.5rem;
  }
  .presentation h3 {
    font-size: 1.25rem;
  }
  .presentation .images-container .image-container {
    width: 450px;
    height: 200px;
  }
  .presentation .images-container img.my-photo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .section3 .skill-card1,
.section3 .skill-card2 {
    width: 40%;
  }

  .footer .contact-options {
    width: 60%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .presentation h1 {
    margin-top: 65px;
    font-size: 2.5rem;
  }
  .presentation h3 {
    font-size: 1.25rem;
  }
  .presentation .images-container .image-container {
    width: 345px;
    height: 160px;
  }
  .presentation .images-container img.my-photo {
    width: 145px;
    height: 145px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .section2 h1 {
    width: 80%;
    font-size: 2rem;
  }
  .section2 h3 {
    width: 80%;
  }

  .section3 .skill-card1,
.section3 .skill-card2 {
    width: 47%;
  }
  .section3 .skill-card1 .body .row span,
.section3 .skill-card1 .body .row img,
.section3 .skill-card2 .body .row span,
.section3 .skill-card2 .body .row img {
    right: 0;
  }
  .section3 .skill-card1 {
    margin-right: 5px;
  }
  .section3 .skill-card2 {
    margin-left: 5px;
  }

  .footer .contact-options {
    width: 60%;
  }
}
@media (max-width: 575.98px) {
  .presentation h1 {
    margin-top: 75px;
    font-size: 2.5rem;
  }
  .presentation h3 {
    font-size: 1.25rem;
  }
  .presentation .images-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 25px;
  }
  .presentation .images-container .image-container {
    width: 345px;
    height: 160px;
    align-self: center;
  }
  .presentation .images-container img.my-photo {
    width: 145px;
    height: 145px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .section2 {
    height: fit-content;
  }
  .section2 h1 {
    margin: 75px 0 0 0;
    width: 85%;
    font-size: 1.9rem;
  }
  .section2 h3 {
    width: 85%;
    font-size: 1.25rem;
    margin: 50px 0 75px 0;
  }

  .section3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section3 .skill-card1,
.section3 .skill-card2 {
    width: 90%;
  }
  .section3 .skill-card1 {
    margin-right: 0;
  }
  .section3 .skill-card2 {
    margin-left: 0;
  }

  .section4 .projects-container {
    flex-direction: column;
    width: 80%;
  }
  .section4 .projects-container .container {
    width: 80%;
  }

  .footer .contact-options {
    width: 60%;
  }
}
h1 {
  font-family: Eurostile-Bold;
  text-align: center;
}

.canvas {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 0;
}

/*# sourceMappingURL=index.css.map */
