@font-face {
	font-family: Eurostile-Bold;
	src: url(../fonts/EurostileBold.ttf);
}

@font-face {
	font-family: Eurostile-Normal;
	src: url(../fonts/EuroStyleNormal.ttf);
}

@font-face {
	font-family: Europa;
	src: url(../fonts/Europa-Regular.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto-Bold.ttf);
}
