@use './helpers';
@use './fonts';

@use './components/navbar';
@use './components/presentation';
@use './components/section2';
@use './components/section3';
@use './components/section4';
@use './components/footer';

@use './responsive/xl';
@use './responsive/lg';
@use './responsive/md';
@use './responsive/sm';


body,
html {
  height: calc(100vh - calc(100vh - 100%));
  position: relative;
}

p {
  color: #0e0e0e9f;
}

h1 {
  font-family: Eurostile-Bold;
  text-align: center;
}

h2,
h3,
p {
  text-align: center;
}



