@use './helpers';
@use './fonts';

@use './components/navbar';
@use './components/presentation';
@use './components/my_description';
@use './components/skills-card';
@use './components/footer';
@use './components/recent_projects';

@use './responsive/xl';
@use './responsive/lg';
@use './responsive/md';
@use './responsive/sm';

h1 {
  font-family: Eurostile-Bold;
  text-align: center;
}

.canvas {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 0;
}
