@use './helpers';
@use './fonts';

@use './components/presentation';
@use './components/my_description';
@use './components/skills-card';
@use './components/recent_projects';
@use './components/footer';

html {
  overflow-x: hidden;
}

h1 {
  font-family: Eurostile-Bold;
  text-align: center;
}

.canvas {
  height: 100vh;
  width: 100vw;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 0;
}
