@use '../fonts';
@use '../colors';

.presentation {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .presentation__title {
    line-height: 1.5;
    color: white;

    .presentation__my_name {
      color: colors.$base-color;
    }
  }
}
