@use '../fonts';
@use '../colors';

.section4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5% 0;
    height: fit-content;
    h1 {
      font-size: 2rem;
      font-weight: 800;
    }
  
    h3 {
      margin: 0 40px;
      font-family: Europa;
      font-weight: 300;
      color: rgba(10, 10, 10, 0.5);
      font-size: 1.5rem;
    }
  
    .projects-container {
      display: flex;
      margin-top: 40px;
      align-items: center;
      justify-content: center;
  
      .container {
        position: relative;
        display: flex;
        width: 30%;
        height: 10%;
        margin: 30px;
  
        .image {
          opacity: 1;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: 0.5s ease;
          backface-visibility: hidden;
        }
  
        .middle {
          transition: 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
  
        .text {
          background-color: colors.$base-color;
          cursor: pointer;
          color: white;
          font-size: 16px;
          padding: 16px 32px;
        }
      }
      .container:hover .image {
        opacity: 0.3;
      }
  
      .container:hover .middle {
        opacity: 1;
      }
    }
  
    .gitlab-section {
      margin-top: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      a {
        color: rgba(62, 204, 180, 1);
        font-size: 1.25rem;
      }
  
      span {
        color: rgba(10, 10, 10, 0.5);
        font-size: 3rem;
      }
  
      .gitlab-action-container {
        margin-top: 45px;
        position: relative;
        height: 200px;
        width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
  
        &:hover .gitlab-image {
          opacity: 0.3;
        }
  
        &:hover .gitlab-button {
          opacity: 1;
          cursor: pointer;
        }
  
        .gitlab-image {
          height: 100%;
          transition: 0.5s ease;
          width: 100%;
          position: absolute;
        }
  
        .gitlab-button {
          height: 50px;
          width: 140px;
          max-width: 120px;
          background-color: colors.$base-color;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          opacity: 0;
          transition: 0.5s ease;
          text-align: center;
        }
      }
    }
  }
  